<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="{{ siteUrl }}static/css/style.css" type="image/x-icon" /> 
</head>
<body>
    {% block content %}
        {# templates inserted here #}
    {% endblock %}
</body>